* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #e4e4e4;
}
.header .header__logo {
  width: 20%;
  height: 100%;
}
.header .header__logo .header__img {
  width: 100%;
  height: 100%;
}
.header .nav {
  width: 75%;
  height: 100%;
}
.header .nav .nav__ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.header .nav .nav__ul .nav__li {
  width: 13%;
  height: 25%;
}
.header .nav .nav__ul .nav__li .nav__button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #b9b6b6;
  cursor: pointer;
}
.header .nav .nav__ul .nav__li .nav__button--normal {
  background-color: rgb(207, 224, 144);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--fire {
  background-color: rgb(238, 125, 50);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--water {
  background-color: rgb(72, 183, 247);
  font-weight: bold;
  color: #ffffff;
}
.header .nav .nav__ul .nav__li .nav__button--grass {
  background-color: rgb(76, 188, 31);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--electric {
  background-color: rgb(255, 217, 0);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--ice {
  background-color: rgb(0, 255, 238);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--fighting {
  background-color: rgb(234, 2, 2);
  font-weight: bold;
  color: #ffffff;
}
.header .nav .nav__ul .nav__li .nav__button--poison {
  background-color: rgb(195, 0, 255);
  font-weight: bold;
  color: #ffffff;
}
.header .nav .nav__ul .nav__li .nav__button--ground {
  background-color: rgb(241, 207, 162);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--flying {
  background-color: rgb(216, 134, 215);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--psychic {
  background-color: rgb(245, 5, 169);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--bug {
  background-color: rgb(117, 171, 80);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--rock {
  background-color: rgb(124, 78, 18);
  font-weight: bold;
  color: #ffffff;
}
.header .nav .nav__ul .nav__li .nav__button--ghost {
  background-color: rgb(143, 112, 230);
  font-weight: bold;
  color: #ffffff;
}
.header .nav .nav__ul .nav__li .nav__button--dark {
  background-color: rgb(34, 34, 34);
  font-weight: bold;
  color: #ffffff;
}
.header .nav .nav__ul .nav__li .nav__button--dragon {
  background-color: rgb(249, 8, 56);
  font-weight: bold;
  color: #ffffff;
}
.header .nav .nav__ul .nav__li .nav__button--steel {
  background-color: rgb(184, 184, 184);
  font-weight: bold;
}
.header .nav .nav__ul .nav__li .nav__button--fairy {
  background-color: rgb(255, 211, 248);
  font-weight: bold;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.cards .card {
  margin-top: 20px;
  width: 22%;
  height: 40vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 0px #c2c1c1;
}
.cards .card .card__fondos {
  top: 10%;
  position: absolute;
  font-size: 6rem;
  color: #eeecec;
  font-weight: bold;
  z-index: 1;
}
.cards .card .card__fondo {
  width: 55%;
  height: 50%;
  z-index: 2;
}
.cards .card .card__fondo .card__img {
  width: 100%;
  height: 100%;
}
.cards .card .card__title {
  width: 80%;
  height: 12%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.cards .card .card__title .card__numbers {
  background-color: #e4e4e4;
  padding: 5px;
  border-radius: 10px;
}
.cards .card .card__title .card__nombre {
  font-size: 1.4rem;
  font-weight: bold;
}
.cards .card .card__tipos {
  width: 70%;
  height: 12%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.cards .card .card__tipos .card__tipo-text {
  padding: 5px;
  border-radius: 10px;
  background-color: #e4e4e4;
  color: #ffffff;
  font-weight: bold;
}
.cards .card .card__datos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 70%;
}
.cards .card .card__datos .card__cantidad .card__cantidad-number {
  background-color: #e4e4e4;
  padding: 3px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */