.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .card{
        margin-top: 20px;
        width: 22%;
        height: 40vh;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        background-color: #ffffff;
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 0px 25px 0px #c2c1c1;
        .card__fondos{
            top: 10%;
            position:absolute;
            font-size: 6rem;
            color:#eeecec;
            font-weight: bold;
            z-index: 1;
        }
        .card__fondo{
            width: 55%;
            height: 50%;
            z-index: 2;
            .card__img{
                width: 100%;
                height: 100%;
            }
        }
        .card__title{
            width: 80%;
            height: 12%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            .card__numbers{
                background-color: $gris;
                padding: 5px;
                border-radius: 10px;
            }
            .card__nombre{
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
        .card__tipos{
            width: 70%;
            height: 12%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            .card__tipo-text{
                padding: 5px;
                border-radius: 10px;
                background-color:$gris;
                color: #ffffff;
                font-weight: bold;
            }
        }
        .card__datos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            width: 70%;
            .card__cantidad{
                .card__cantidad-number{
                    background-color: $gris;
                    padding: 3px;
                    border-radius: 10px;
                }
            }
        }
    }
}